<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram />
    <StartArguments />
    <StartWorkingDirectory>C:\Users\yj102\Desktop\LuaFramework_UGUI-master\Assets\LuaFramework\Lua</StartWorkingDirectory>
  </propertyGroup>
</Project>